/* line 3, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.fLetter {
  position: absolute;
  left: 13%;
  bottom: 1%;
  line-height: 0;
  color: #BEA67C;
  font-size: 22em;
  font-weight: bold;
  opacity: 0.1;
  user-select: none;
}

/* line 15, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.dLetter {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  font-weight: bold;
  color: #BEA67C;
  top: -200px;
  font-size: 22em;
  opacity: 0.1;
}

/* line 26, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.vLetter {
  font-size: 22em;
  font-weight: bold;
  color: #BEA67C;
  opacity: 0.1;
  top: 0;
  right: 15%;
  line-height: 0;
  position: absolute;
  z-index: -1;
}

/* line 38, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.aboutWord {
  position: absolute;
  top: 25%;
  left: -30%;
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.1;
  font-weight: bold;
  font-size: 10em;
  user-select: none;
}

/* line 50, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.aLetter {
  position: absolute;
  font-size: 22em;
  color: #BEA67C;
  font-weight: bold;
  top: -70%;
  right: 10%;
  z-index: -1;
  opacity: 0.1;
}

/* line 61, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.furnText {
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.2;
  font-size: 10em;
  position: absolute;
  bottom: 25%;
  right: -80%;
  font-weight: bold;
}

/* line 72, /Users/user/Downloads/web_development/wooder/scss/letters.scss */
.decText {
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.2;
  font-size: 10em;
  position: absolute;
  bottom: 25%;
  left: -45%;
  font-weight: bold;
}

/* line 3, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenu {
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* line 17, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenu ul {
  font-size: 3em;
  border: 5px solid #fff;
  list-style-type: none;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 7%;
  text-transform: uppercase;
  display: block;
}

/* line 28, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenu ul li {
  text-align: center;
  border: 1px solid #6D6D6D;
}

/* line 32, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenu ul li a {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  flex: 1;
}

/* line 42, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenu.active {
  display: flex;
}

/* line 46, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.closeMobMenu {
  color: #fff;
  text-transform: uppercase;
  padding: 20px 30px;
  border: 5px solid #fff;
  border-top: 0;
  letter-spacing: 2px;
  font-weight: bold;
  cursor: pointer;
}

/* line 57, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
.mobMenuBtn.mobile {
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em 1em;
  background: linear-gradient(black, transparent);
  animation: popup 0.4s forwards;
}

@keyframes popup {
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 425px) {
  /* line 77, /Users/user/Downloads/web_development/wooder/scss/mobStyles.scss */
  .mob-menu ul {
    font-size: 2em;
  }
}

@media screen and (max-width: 1440px) {
  /* line 7, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .leftDots {
    margin-left: -100px;
    margin-top: 100px;
  }
  /* line 12, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .furnitureDecor {
    margin-right: -100px;
  }
  /* line 17, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting .learnMore {
    margin: 5em 0;
  }
  /* line 26, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent {
    min-width: 90%;
  }
  /* line 28, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .pic {
    min-width: 50%;
  }
  /* line 31, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .imageItem {
    min-width: 80%;
  }
  /* line 34, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .furnText {
    right: -100%;
  }
  /* line 42, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent {
    min-width: 90%;
  }
  /* line 44, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .pic {
    min-width: 50%;
  }
  /* line 47, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .imageItem {
    min-width: 80%;
  }
  /* line 56, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper .videoWrapper {
    min-width: 90%;
  }
  /* line 61, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .videoPlayIcon {
    font-size: 45em;
  }
  /* line 65, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .videoBg {
    padding: 300px 0;
  }
  /* line 69, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .designVideoContent {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
  }
  /* line 81, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent {
    flex-wrap: wrap;
    min-width: 90%;
  }
  /* line 84, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .pic {
    width: 90%;
  }
  /* line 87, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .pic .imageItem {
    margin: 0 auto;
    width: 100%;
  }
  /* line 93, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .aboutWord {
    position: absolute;
    top: 25%;
    left: -50%;
  }
  /* line 102, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  footer .footerContent {
    min-width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  /* line 111, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .bgPics .bgPic1 {
    min-width: 100%;
  }
  /* line 115, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .bgPics .bgPic2 {
    display: none;
  }
  /* line 121, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .homeContent header nav {
    display: none;
  }
  /* line 128, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .leftDots {
    display: none;
  }
  /* line 131, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .furnitureDecor {
    display: none;
  }
  /* line 134, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting {
    margin-left: 0;
  }
  /* line 137, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting .learnMore {
    outline: 0;
    font-size: 0.5em;
    letter-spacing: 1px;
    padding: 1em 3em;
    margin: 5em 0;
  }
  /* line 145, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting h1 {
    font-size: 6em;
    letter-spacing: 0.2em;
  }
  /* line 158, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper {
    padding: 50px 0;
  }
  /* line 163, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .filling .bFor {
    min-width: 20%;
  }
  /* line 167, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .filling .furnDetails {
    min-width: 70%;
    padding-right: 0;
  }
  /* line 173, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .pic .furnText {
    font-size: 7em;
    right: -100%;
  }
  /* line 177, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .pic .imageItem {
    min-width: 90%;
    margin-left: 30px;
  }
  /* line 189, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .pic .imageItem {
    min-width: 90%;
  }
  /* line 192, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .pic .decText {
    text-transform: uppercase;
    color: #BEA67C;
    opacity: 0.2;
    font-size: 7em;
    position: absolute;
    bottom: 25%;
    left: -45%;
    font-weight: bold;
  }
  /* line 205, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .decorDetails {
    min-width: 70%;
    padding-left: 0;
  }
  /* line 209, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .bFor {
    min-width: 20%;
  }
  /* line 212, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .dLetter {
    font-size: 16em;
    top: -150px;
  }
  /* line 222, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper h1 {
    font-size: 3em;
  }
  /* line 226, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper > p {
    font-size: 1.2em;
  }
  /* line 230, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper .videoWrapper {
    flex-direction: column;
  }
  /* line 233, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper .videoWrapper .video {
    min-width: calc(100%/1 - 2em);
    margin: 0 auto;
  }
  /* line 240, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .videoBg {
    background-size: cover;
  }
  /* line 244, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .videoPlayIcon {
    font-size: 30em;
  }
  /* line 248, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .designVideoContent .designVideoContent_text {
    min-width: 80%;
  }
  /* line 252, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .designVideoContent .designVideoContent_text h2 {
    font-size: 2em;
  }
  /* line 256, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .designVideoContent .designVideoContent_text > p {
    font-size: 1em;
  }
  /* line 262, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .designVideoWrapper .designVideoContent .designVideoContent_text .watchVideo {
    font-size: 1.2em;
  }
  /* line 273, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .aboutUs_text {
    min-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  /* line 285, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .homeContent header nav {
    display: none;
  }
  /* line 294, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .leftDots p {
    font-size: 1em;
  }
  /* line 296, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .leftDots p:before {
    width: 0.6em;
  }
  /* line 302, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting h1 {
    font-size: 2.5em;
  }
  /* line 305, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting .learnMore {
    outline: 0;
    font-size: 0.5em;
    letter-spacing: 1px;
    padding: 1em 3em;
    margin: 2em;
  }
  /* line 312, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .start .greeting .toScroll {
    display: none;
  }
  /* line 317, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #home .homeWrapper .fLetter {
    font-size: 18em;
    bottom: 15%;
  }
  /* line 325, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper {
    padding: 50px 0;
  }
  /* line 331, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .filling .furnDetails h1 {
    font-size: 2.5em;
  }
  /* line 334, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .filling .furnDetails p {
    font-size: 1em;
  }
  /* line 339, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .filling .number {
    font-size: 2em;
  }
  /* line 344, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .pic .furnText {
    display: none;
  }
  /* line 347, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #products .furnWrapper .furnContent .pic .imageItem {
    margin-left: 50px;
  }
  /* line 355, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper {
    padding: 50px 0;
  }
  /* line 360, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .decorDetails h1 {
    font-size: 2.5em;
  }
  /* line 363, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .decorDetails p {
    font-size: 1em;
  }
  /* line 368, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .filling .number {
    font-size: 2em;
  }
  /* line 373, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .decWrapper .decContent .pic .decText {
    display: none;
  }
  /* line 383, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .designVideoWrapper .designVideoContent .designVideoContent_text h2 {
    font-size: 2em;
    letter-spacing: 1.5px;
    line-height: 1.4;
  }
  /* line 390, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .designVideoWrapper .designVideoContent .watchVideo {
    padding: 0.5em 1.5em;
  }
  /* line 394, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .designVideoWrapper .vLetter {
    font-size: 18em;
  }
  /* line 400, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper {
    padding: 2em 0;
  }
  /* line 405, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper h1 {
    font-size: 2em;
  }
  /* line 411, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #quality .qualityWrapper > p {
    font-size: 1em;
  }
  /* line 422, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent {
    flex-wrap: wrap;
  }
  /* line 424, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .pic {
    width: 90%;
  }
  /* line 427, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .pic .imageItem {
    margin: 0 auto;
    width: 100%;
  }
  /* line 434, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  #aboutUs .aboutUsWrapper .aboutUsContent .aboutUs_text p br {
    display: none;
  }
  /* line 443, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .footerContent {
    flex-direction: column;
  }
  /* line 445, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .footerContent .logo {
    display: none;
  }
  /* line 448, /Users/user/Downloads/web_development/wooder/scss/rwdStyles.scss */
  .footerContent .copy_year {
    margin-bottom: 10px;
  }
}

/* line 7, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
main {
  width: 100%;
  overflow: hidden;
}

/* line 18, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
a:active,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

/* line 25, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
body {
  font-family: 'arial';
}

/* line 30, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .homeWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* line 35, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .homeWrapper .bgPics {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 0;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

/* line 44, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .homeWrapper .bgPics .bgPic1 {
  width: 55%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/bgPic1.png") 0 50% no-repeat;
  background-size: cover;
}

/* line 51, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .homeWrapper .bgPics .bgPic2 {
  width: 45%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/bgPic2.png") 50% 50% no-repeat;
  background-size: cover;
}

/* line 59, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .homeContent {
  position: absolute;
  z-index: 1;
  color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
}

/* line 68, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header {
  width: 95%;
  margin: 0 auto;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
}

/* line 81, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header nav {
  display: flex;
  text-transform: uppercase;
  align-items: center;
}

/* line 86, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header nav ul {
  list-style-type: none;
  display: flex;
  margin-left: 2em;
}

/* line 91, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header nav ul li {
  margin: 0 4em;
}

/* line 94, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header nav ul li:last-child {
  margin-right: 0;
}

/* line 100, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .mobMenuBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* line 105, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .mobMenuBtn span {
  color: #BEA67C;
  font-size: 2.4em;
  margin-right: 10px;
}

/* line 112, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .info {
  display: flex;
  align-items: center;
}

/* line 116, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .info .i {
  margin-right: 30px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  width: 30px;
  height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

/* line 129, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .info span {
  color: #BEA67C;
}

/* line 133, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .info .language-settings {
  background: none;
  outline: 0;
  border: 0;
  color: #fff;
  width: 45px;
}

/* line 140, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home header .info .language-settings optgroup {
  background: #000;
}

/* line 147, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .logo {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}

/* line 154, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .logo span {
  position: relative;
}

/* line 157, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .logo span:after {
  content: '';
  height: 5px;
  background: #BEA67C;
  position: absolute;
  width: 85%;
  bottom: 40%;
  left: 5%;
}

@keyframes opacityToHalf {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes opacityToFull {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* line 187, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%;
  padding-top: 150px;
}

/* line 195, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(90deg);
}

/* line 201, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots p {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  color: #BEA67C;
  opacity: 0;
  animation: opacityToFull 0.4s 1s forwards;
}

/* line 209, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots p:before {
  content: '';
  background: #BEA67C;
  width: 1.6em;
  height: 2px;
  position: absolute;
  top: 45%;
  left: -180%;
  opacity: 0;
  animation: opacityToFull 0.4s 1.2s forwards;
}

/* line 222, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul {
  display: flex;
  margin: 0 0 0 3em;
  list-style-type: none;
}

/* line 227, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul li {
  margin: 0 2em;
  color: #BEA67C;
  opacity: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 0.6em;
}

/* line 235, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul li:first-child {
  animation: opacityToFull 1s 1.4s forwards;
}

/* line 239, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul li:nth-child(2) {
  animation: opacityToHalf 1s 1.6s forwards;
}

/* line 243, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul li:nth-child(3) {
  animation: opacityToHalf 1s 1.8s forwards;
}

/* line 247, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .leftDots ul li:nth-child(4) {
  animation: opacityToHalf 1s 2s forwards;
}

/* line 255, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting {
  margin-left: -130px;
}

/* line 259, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting h1 {
  text-transform: uppercase;
  color: #BEA67C;
  font-size: 7em;
  font-weight: bold;
  letter-spacing: 0.3em;
  user-select: none;
  opacity: 0;
  animation: opacityToFull 1s 1.4s forwards;
  line-height: 50px;
}

/* line 271, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .learnMore {
  outline: 0;
  border: 2px solid #fff;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  background: none;
  color: #fff;
  padding: 1em 4em;
  cursor: pointer;
  margin: 3em 0;
  user-select: none;
  opacity: 0;
  animation: opacityToFull 1s 1.4s forwards;
}

/* line 287, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .learnMore span {
  transition: transform 0.3s;
  transform: translate(0, 0);
  display: inline-block;
}

/* line 293, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .learnMore:hover span {
  transform: translate(10px, 0);
}

/* line 298, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .toScroll {
  display: flex;
  align-items: flex-start;
  width: 200px;
  cursor: pointer;
  user-select: none;
  transform: rotate(90deg);
  transform-origin: 13% 0;
  margin-top: 50px;
  z-index: 1;
}

/* line 308, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .toScroll img {
  opacity: 0.7;
  transform: rotate(-90deg);
}

/* line 313, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .toScroll p {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 2px;
  margin: 5px 0 0 100px;
  color: #BEA67C;
  opacity: 0.6;
  transform: translate(0, 0);
  transition: transform 0.3s;
  animation: move 0.5s ease-in alternate infinite;
}

/* line 324, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .toScroll p span {
  position: relative;
  color: #fff;
}

/* line 330, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .greeting .toScroll p span:before {
  content: '';
  height: 1px;
  width: 80px;
  background: #fff;
  position: absolute;
  bottom: 6px;
  left: -78px;
}

/* line 343, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .start .furnitureDecor {
  color: #BEA67C;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.6em;
  transform: rotate(90deg) translate(-100px, 0);
  transform-origin: 0 0;
  opacity: 0;
  user-select: none;
  animation: opacityToHalf 0.4s 2.4s forwards;
}

@keyframes move {
  to {
    transform: translate(5px, 0px);
  }
}

/* line 363, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .whiteRectangle {
  width: 55%;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 372, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
#home .stroke {
  position: absolute;
  right: 16%;
  bottom: -30px;
  height: 60px;
  width: 3px;
  background: #BEA67C;
}

/* line 385, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decWrapper,
.furnWrapper {
  width: 100%;
  padding: 150px 0;
}

/* line 391, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent,
.furnContent {
  width: 68%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* line 399, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .filling,
.furnContent .filling {
  width: calc(100%/2);
  display: flex;
  position: relative;
}

/* line 404, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .filling .bFor,
.furnContent .filling .bFor {
  width: 30%;
}

/* line 409, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .pic,
.furnContent .pic {
  width: 60%;
  position: relative;
  user-select: none;
}

/* line 414, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .pic img,
.furnContent .pic img {
  filter: grayscale(0.8);
}

/* line 421, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnDetails {
  width: 70%;
  padding-right: 4em;
}

/* line 425, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnDetails h1 {
  text-transform: uppercase;
  font-size: 3em;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 1.4rem;
}

/* line 432, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnDetails h1:before {
  content: '';
  width: 160px;
  height: 3px;
  background: #6D6D6D;
  position: absolute;
  left: -180px;
  top: 45%;
}

/* line 443, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnDetails p {
  line-height: 1.4;
  color: #6D6D6D;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 30px;
}

/* line 450, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnDetails p:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #BEA67C;
  top: 10%;
  left: -70px;
}

/* line 462, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decorDetails {
  width: 70%;
  padding-left: 2em;
  text-align: right;
}

/* line 467, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decorDetails h1 {
  text-transform: uppercase;
  font-size: 3em;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 1.4rem;
}

/* line 474, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decorDetails h1:before {
  content: '';
  width: 160px;
  height: 3px;
  background: #6D6D6D;
  position: absolute;
  right: -180px;
  top: 45%;
}

/* line 485, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decorDetails p {
  line-height: 1.4;
  color: #6D6D6D;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 30px;
}

/* line 492, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decorDetails p:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #BEA67C;
  top: 10%;
  right: -70px;
}

/* line 505, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnContent .number {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 0;
}

/* line 513, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnContent .number span {
  color: #BEA67C;
}

/* line 517, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.furnContent .number:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 60px;
  top: 100px;
  left: 40%;
  background: #BEA67C;
}

/* line 531, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .filling .number {
  position: absolute;
  bottom: 0;
  left: 90%;
  font-size: 3em;
  font-weight: bold;
  line-height: 0;
}

/* line 539, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .filling .number span {
  color: #BEA67C;
}

/* line 543, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.decContent .filling .number:after {
  content: '';
  position: absolute;
  width: 4px;
  height: 60px;
  top: 100px;
  right: 40%;
  background: #BEA67C;
}

/* line 555, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.imageItem {
  width: 100%;
  box-shadow: 0 0 15px #BEA67C;
}

/* line 560, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.learnButton {
  background: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative;
}

/* line 571, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.learnButton:after {
  content: '';
  width: 40px;
  height: 3px;
  background: #BEA67C;
  position: absolute;
  bottom: -5px;
  left: 0;
}

/* line 581, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.learnButton span {
  color: #BEA67C;
}

/* line 588, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.qualityWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4em 0;
  text-align: center;
}

/* line 596, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.qualityWrapper h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 3px;
}

/* line 603, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.qualityWrapper > hr {
  width: 60px;
  height: 4px;
  background: #BEA67C;
  border: 0;
  outline: 0;
  margin: 20px 0;
}

/* line 612, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.qualityWrapper > p {
  font-size: 1.6em;
  color: #6D6D6D;
  line-height: 1.6;
}

/* line 619, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoWrapper {
  width: 68%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5em 0;
  position: relative;
}

/* line 629, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.video {
  width: calc(100%/3 - 2em);
}

/* line 632, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.video hr {
  width: 40px;
  height: 1px;
  border: 0;
  outline: 0;
  background: #BEA67C;
  margin: 20px auto;
}

/* line 641, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.video .videoTitle {
  font-weight: bold;
}

/* line 646, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

/* line 652, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumb {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 10px white, 0 0 0 11px #BEA67C;
  margin: 20px 0;
  transition: all 0.3s;
}

/* line 661, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumb:hover {
  box-shadow: 0 0 0 15px white, 0 0 0 16px #BEA67C;
}

/* line 665, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumb .playIcon {
  color: #fff;
  font-size: 2em;
  position: absolute;
  left: 35%;
  right: 35%;
  top: 35%;
  bottom: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BEA67C;
  padding: 15px 15px 15px 20px;
  line-height: 0;
  border-radius: 50%;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.3s;
}

/* line 684, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumb .playIcon:hover {
  left: 30%;
  right: 30%;
  top: 30%;
  bottom: 30%;
}

/* line 693, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumbTable {
  background: url("../imgs/thumbTable.png") no-repeat 30% 50%;
  background-size: 160%;
}

/* line 698, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumbChair {
  background: url("../imgs/thumbChair.png") no-repeat 30% 50%;
  background-size: cover;
}

/* line 703, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoThumb .thumbDesk {
  background: url("../imgs/thumbDesk.png") no-repeat 30% 50%;
  background-size: 100%;
}

/* line 710, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoWrapper {
  width: 100%;
  position: relative;
}

/* line 715, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoBg {
  padding: 400px 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../imgs/woodBottomBackground.png) no-repeat center;
  background-size: 100%;
}

/* line 722, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.videoPlayIcon {
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 0;
  right: 10%;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 55em;
  user-select: none;
}

/* line 736, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid #BEA67C;
  display: flex;
  align-items: center;
}

/* line 747, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

/* line 755, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text h2 {
  color: #BEA67C;
  font-size: 2.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.4;
  position: relative;
}

/* line 763, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text h2:before {
  content: '';
  width: 150px;
  height: 3px;
  background: #6D6D6D;
  position: absolute;
  right: 105%;
  top: 25%;
}

/* line 774, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text > p {
  font-size: 1.2em;
  line-height: 1.6;
  color: white;
  margin: 30px 0;
  position: relative;
}

/* line 781, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text > p:before {
  content: '';
  width: 50px;
  height: 4px;
  background: #BEA67C;
  position: absolute;
  right: 105%;
  top: 10%;
}

/* line 792, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.designVideoContent_text:after {
  content: '';
  width: 3px;
  height: 150px;
  background: #6D6D6D;
  position: absolute;
  left: 120%;
  top: 30%;
}

/* line 803, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.watchVideo {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  padding: 1em 3em;
  border: 3px solid white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.4em;
}

/* line 818, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUsWrapper {
  width: 100%;
  padding: 6em 0;
  position: relative;
}

/* line 824, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUsContent {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
}

/* line 833, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUsContent .pic {
  width: calc(100%/2);
  user-select: none;
}

/* line 837, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUsContent .pic .imageItem {
  width: 80%;
}

/* line 843, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUs_text {
  width: calc(100%/2);
  padding-left: 6em;
}

/* line 847, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUs_text h1 {
  text-transform: uppercase;
  font-size: 3em;
  position: relative;
  letter-spacing: 2px;
  margin-bottom: 1.4rem;
}

/* line 854, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUs_text h1:before {
  content: '';
  width: 160px;
  height: 3px;
  background: #6D6D6D;
  position: absolute;
  left: -180px;
  top: 45%;
}

/* line 865, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUs_text p {
  line-height: 1.4;
  color: #6D6D6D;
  font-size: 1.3em;
  position: relative;
  margin-bottom: 30px;
}

/* line 872, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.aboutUs_text p:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 4px;
  background: #BEA67C;
  top: 10%;
  left: -70px;
}

/* line 886, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
footer {
  background: black;
  padding: 2em 0;
}

/* line 891, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.footerContent {
  width: 65%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: #6D6D6D;
}

/* line 900, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.footerContent .copy_year {
  text-transform: uppercase;
}

/* line 904, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.footerContent .logo {
  position: absolute;
  line-height: 0;
  left: 35%;
  right: 35%;
  text-align: center;
  user-select: none;
  font-size: 2em;
}

/* line 915, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.footerContent .created_by a {
  color: lightgray;
  transition: color 0.2s;
}

/* line 919, /Users/user/Downloads/web_development/wooder/scss/styles.scss */
.footerContent .created_by a:hover {
  color: #fff;
}

/*# sourceMappingURL=../css/styles.map */