@import 'colors';

.fLetter {
    position: absolute;
    left: 13%;
    bottom: 1%;
    line-height: 0;
    color: $brown;
    font-size: 22em;
    font-weight: bold;
    opacity: 0.1;
    user-select: none;
}

.dLetter {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 0;
    font-weight: bold;
    color: $brown;
    top: -200px;
    font-size: 22em;
    opacity: 0.1;
}

.furnText {
    text-transform: uppercase;
    color: $brown;
    opacity: 0.2;
    font-size: 10em;
    position: absolute;
    bottom: 25%;
    right: -80%;
    font-weight: bold;
}

.decText {
    text-transform: uppercase;
    color: $brown;
    opacity: 0.2;
    font-size: 10em;
    position: absolute;
    bottom: 25%;
    left: -45%;
    font-weight: bold;
}





