@import 'colors';

.fLetter {
    position: absolute;
    left: 13%;
    bottom: 1%;
    line-height: 0;
    color: $brown;
    font-size: 22em;
    font-weight: bold;
    opacity: 0.1;
    user-select: none;
}
